:root {
  --clr-gray-0: #f8fafb;
  --clr-gray-1: #f2f4f6;
  --clr-gray-2: #ebedef;
  --clr-gray-3: #e0e4e5;
  --clr-gray-4: #d1d6d8;
  --clr-gray-5: #b1b6b9;
  --clr-gray-6: #979b9d;
  --clr-gray-7: #7e8282;
  --clr-gray-8: #666968;
  --clr-gray-9: #50514f;
  --clr-gray-10: #3a3a37;
  --clr-gray-11: #252521;
  --clr-gray-12: #121210;

  --clr-red-0: #fff5f5;
  --clr-red-1: #ffe3e3;
  --clr-red-2: #ffc9c9;
  --clr-red-3: #ffa8a8;
  --clr-red-4: #ff8787;
  --clr-red-5: #ff6b6b;
  --clr-red-6: #fa5252;
  --clr-red-7: #f03e3e;
  --clr-red-8: #e03131;
  --clr-red-9: #c92a2a;
  --clr-red-10: #b02525;
  --clr-red-11: #962020;
  --clr-red-12: #7d1a1a;

  --clr-pink-0: #fff0f6;
  --clr-pink-1: #ffdeeb;
  --clr-pink-2: #fcc2d7;
  --clr-pink-3: #faa2c1;
  --clr-pink-4: #f783ac;
  --clr-pink-5: #f06595;
  --clr-pink-6: #e64980;
  --clr-pink-7: #d6336c;
  --clr-pink-8: #c2255c;
  --clr-pink-9: #a61e4d;
  --clr-pink-10: #8c1941;
  --clr-pink-11: #731536;
  --clr-pink-12: #59102a;

  --clr-purple-0: #f8f0fc;
  --clr-purple-1: #f3d9fa;
  --clr-purple-2: #eebefa;
  --clr-purple-3: #e599f7;
  --clr-purple-4: #da77f2;
  --clr-purple-5: #cc5de8;
  --clr-purple-6: #be4bdb;
  --clr-purple-7: #ae3ec9;
  --clr-purple-8: #9c36b5;
  --clr-purple-9: #862e9c;
  --clr-purple-10: #702682;
  --clr-purple-11: #5a1e69;
  --clr-purple-12: #44174f;

  --clr-violet-0: #f3f0ff;
  --clr-violet-1: #e5dbff;
  --clr-violet-2: #d0bfff;
  --clr-violet-3: #b197fc;
  --clr-violet-4: #9775fa;
  --clr-violet-5: #845ef7;
  --clr-violet-6: #7950f2;
  --clr-violet-7: #7048e8;
  --clr-violet-8: #6741d9;
  --clr-violet-9: #5f3dc4;
  --clr-violet-10: #5235ab;
  --clr-violet-11: #462d91;
  --clr-violet-12: #3a2578;

  --clr-indigo-0: #edf2ff;
  --clr-indigo-1: #dbe4ff;
  --clr-indigo-2: #bac8ff;
  --clr-indigo-3: #91a7ff;
  --clr-indigo-4: #748ffc;
  --clr-indigo-5: #5c7cfa;
  --clr-indigo-6: #4c6ef5;
  --clr-indigo-7: #4263eb;
  --clr-indigo-8: #3b5bdb;
  --clr-indigo-9: #364fc7;
  --clr-indigo-10: #2f44ad;
  --clr-indigo-11: #283a94;
  --clr-indigo-12: #21307a;

  --clr-blue-0: #e7f5ff;
  --clr-blue-1: #d0ebff;
  --clr-blue-2: #a5d8ff;
  --clr-blue-3: #74c0fc;
  --clr-blue-4: #4dabf7;
  --clr-blue-5: #339af0;
  --clr-blue-6: #228be6;
  --clr-blue-7: #1c7ed6;
  --clr-blue-8: #1971c2;
  --clr-blue-9: #1864ab;
  --clr-blue-10: #145591;
  --clr-blue-11: #114678;
  --clr-blue-12: #0d375e;

  --clr-cyan-0: #e3fafc;
  --clr-cyan-1: #c5f6fa;
  --clr-cyan-2: #99e9f2;
  --clr-cyan-3: #66d9e8;
  --clr-cyan-4: #3bc9db;
  --clr-cyan-5: #22b8cf;
  --clr-cyan-6: #15aabf;
  --clr-cyan-7: #1098ad;
  --clr-cyan-8: #0c8599;
  --clr-cyan-9: #0b7285;
  --clr-cyan-10: #095c6b;
  --clr-cyan-11: #074652;
  --clr-cyan-12: #053038;

  --clr-teal-0: #e6fcf5;
  --clr-teal-1: #c3fae8;
  --clr-teal-2: #96f2d7;
  --clr-teal-3: #63e6be;
  --clr-teal-4: #38d9a9;
  --clr-teal-5: #20c997;
  --clr-teal-6: #12b886;
  --clr-teal-7: #0ca678;
  --clr-teal-8: #099268;
  --clr-teal-9: #087f5b;
  --clr-teal-10: #066649;
  --clr-teal-11: #054d37;
  --clr-teal-12: #033325;

  --clr-green-0: #ebfbee;
  --clr-green-1: #d3f9d8;
  --clr-green-2: #b2f2bb;
  --clr-green-3: #8ce99a;
  --clr-green-4: #69db7c;
  --clr-green-5: #51cf66;
  --clr-green-6: #40c057;
  --clr-green-7: #37b24d;
  --clr-green-8: #2f9e44;
  --clr-green-9: #2b8a3e;
  --clr-green-10: #237032;
  --clr-green-11: #1b5727;
  --clr-green-12: #133d1b;

  --clr-lime-0: #f4fce3;
  --clr-lime-1: #e9fac8;
  --clr-lime-2: #d8f5a2;
  --clr-lime-3: #c0eb75;
  --clr-lime-4: #a9e34b;
  --clr-lime-5: #94d82d;
  --clr-lime-6: #82c91e;
  --clr-lime-7: #74b816;
  --clr-lime-8: #66a80f;
  --clr-lime-9: #5c940d;
  --clr-lime-10: #4c7a0b;
  --clr-lime-11: #3c6109;
  --clr-lime-12: #2c4706;

  --clr-yellow-0: #fff9db;
  --clr-yellow-1: #fff3bf;
  --clr-yellow-2: #ffec99;
  --clr-yellow-3: #ffe066;
  --clr-yellow-4: #ffd43b;
  --clr-yellow-5: #fcc419;
  --clr-yellow-6: #fab005;
  --clr-yellow-7: #f59f00;
  --clr-yellow-8: #f08c00;
  --clr-yellow-9: #e67700;
  --clr-yellow-10: #b35c00;
  --clr-yellow-11: #804200;
  --clr-yellow-12: #663500;

  --clr-orange-0: #fff4e6;
  --clr-orange-1: #ffe8cc;
  --clr-orange-2: #ffd8a8;
  --clr-orange-3: #ffc078;
  --clr-orange-4: #ffa94d;
  --clr-orange-5: #ff922b;
  --clr-orange-6: #fd7e14;
  --clr-orange-7: #f76707;
  --clr-orange-8: #e8590c;
  --clr-orange-9: #d9480f;
  --clr-orange-10: #bf400d;
  --clr-orange-11: #99330b;
  --clr-orange-12: #802b09;

  --clr-choco-0: #fff8dc;
  --clr-choco-1: #fce1bc;
  --clr-choco-2: #f7ca9e;
  --clr-choco-3: #f1b280;
  --clr-choco-4: #e99b62;
  --clr-choco-5: #df8545;
  --clr-choco-6: #d46e25;
  --clr-choco-7: #bd5f1b;
  --clr-choco-8: #a45117;
  --clr-choco-9: #8a4513;
  --clr-choco-10: #703a13;
  --clr-choco-11: #572f12;
  --clr-choco-12: #3d210d;

  --clr-brown-0: #faf4eb;
  --clr-brown-1: #ede0d1;
  --clr-brown-2: #e0cab7;
  --clr-brown-3: #d3b79e;
  --clr-brown-4: #c5a285;
  --clr-brown-5: #b78f6d;
  --clr-brown-6: #a87c56;
  --clr-brown-7: #956b47;
  --clr-brown-8: #825b3a;
  --clr-brown-9: #6f4b2d;
  --clr-brown-10: #5e3a21;
  --clr-brown-11: #4e2b15;
  --clr-brown-12: #422412;

  --clr-sand-0: #f8fafb;
  --clr-sand-1: #e6e4dc;
  --clr-sand-2: #d5cfbd;
  --clr-sand-3: #c2b9a0;
  --clr-sand-4: #aea58c;
  --clr-sand-5: #9a9178;
  --clr-sand-6: #867c65;
  --clr-sand-7: #736a53;
  --clr-sand-8: #5f5746;
  --clr-sand-9: #4b4639;
  --clr-sand-10: #38352d;
  --clr-sand-11: #252521;
  --clr-sand-12: #121210;

  --clr-camo-0: #f9fbe7;
  --clr-camo-1: #e8ed9c;
  --clr-camo-2: #d2df4e;
  --clr-camo-3: #c2ce34;
  --clr-camo-4: #b5bb2e;
  --clr-camo-5: #a7a827;
  --clr-camo-6: #999621;
  --clr-camo-7: #8c851c;
  --clr-camo-8: #7e7416;
  --clr-camo-9: #6d6414;
  --clr-camo-10: #5d5411;
  --clr-camo-11: #4d460e;
  --clr-camo-12: #36300a;

  --clr-jungle-0: #ecfeb0;
  --clr-jungle-1: #def39a;
  --clr-jungle-2: #d0e884;
  --clr-jungle-3: #c2dd6e;
  --clr-jungle-4: #b5d15b;
  --clr-jungle-5: #a8c648;
  --clr-jungle-6: #9bbb36;
  --clr-jungle-7: #8fb024;
  --clr-jungle-8: #84a513;
  --clr-jungle-9: #7a9908;
  --clr-jungle-10: #658006;
  --clr-jungle-11: #516605;
  --clr-jungle-12: #3d4d04;
}
