---
import Preview from "@/components/Preview.astro";
import { TreeReact } from "@/components/Tree.react";
import { TreeSolid } from "@/components/Tree.solid";
import TreeSvelte from "@/components/Tree.svelte";
import TreeRunes from "@/components/Tree.runes.svelte";
import TreeVanilla from "@/components/Tree.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Agnostic tree</title>
  </head>
  <body class="text-gray-0 bg-gray-12 p-16">
    <hgroup class="flex flex-col gap-4">
      <h1 class="text-4xl font-bold">Agnostic tree</h1>
      <h2 class="text-gray-7 font-semibold max-w-37ch">
        This tree was implemented with an agnostic core, with adapters for
        popular frameworks
      </h2>
    </hgroup>
    <div class="grid mbs-32">
      <Preview title="Vanilla" icon="i-mdi-language-javascript color-yellow-4">
        <TreeVanilla />
      </Preview>
      <Preview title="Svelte" icon="i-logos-svelte-icon">
        <TreeSvelte client:load />
      </Preview>
      <Preview title="Svelte Runes" icon="i-logos-svelte-icon">
        <TreeRunes client:load />
      </Preview>
      <Preview title="Solid" icon="i-logos-solidjs-icon">
        <TreeSolid client:load />
      </Preview>
      <Preview title="React" icon="i-logos-react">
        <TreeReact client:load />
      </Preview>
    </div>
  </body>
</html>

<style>
  @import "../styles/color.css";

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 0.5rem;
  }
</style>

<style is:global>
  @import "../styles/global.css";
</style>
